*.iml
*.jar
*.log
.DS_Store
.cpcache
.idea
.lein-*
.nrepl-*
.nrepl-port
.shadow-cljs
/checkouts
/src/gen
/target
cljs-runtime
manifest.json
node_modules/
package-lock.json
pom.xml
pom.xml.asc
public/js
target
dev/